<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="line" value="-------------------------------------------------------------------------"/>
	<targets async="true">
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/ApplicationLogs/${shortdate}_logfile.txt"
				layout="${newline} ${longdate}  
						${newline} Trace: ${stacktrace}  
						${newline} ${level:uppercase=true} 
						${newline} ${message} 
						${newline} (${callsite:includSourcePath=true})
						${newline} ${line}"
				archiveAboveSize ="5000000"
				keepFileOpen="false"
				maxArchiveFiles="2" />

		<target name="AmazonOrderLOG"
				xsi:type="File"
				layout="${newline} ${longdate}  
						${newline} Trace: ${stacktrace}  
						${newline} ${level:uppercase=true} 
						${newline} ${message} 
						${newline} (${callsite:includSourcePath=true})
						${newline} ${line}"
				fileName="${basedir}/ApplicationLogs/AmazonOrder/${shortdate}_AmazonOrderLOG.txt"
				archiveAboveSize ="5000000"
				keepFileOpen="false"
				maxArchiveFiles="2" />
		<target name="eZTrackerLog"
				xsi:type="File"
				layout="${newline} ${longdate}  
						${newline} Trace: ${stacktrace}  
						${newline} ${level:uppercase=true} 
						${newline} ${message} 
						${newline} (${callsite:includSourcePath=true})
						${newline} ${line}"
				fileName="${basedir}/ApplicationLogs/eZTracker/${shortdate}_eZTrackerLog.txt"
				archiveAboveSize ="5000000"
				keepFileOpen="false"
				maxArchiveFiles="2" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="AmazonOrderLogger" minlevel="Trace" writeTo="AmazonOrderLOG" />
		<logger name="eZTrackerLogger" minlevel="Trace" writeTo="eZTrackerLog" />
	</rules>
</nlog>